[Unit]
Description=Maintain gpg-agent via gpg-init script
After=pcscd.service
ConditionFileIsExecutable=/usr/bin/gpg-agent

[Service]
Environment=DISPLAY=:0
Type=forking
Restart=always
ExecStart=/home/chase/.local/bin/gpg-init

[Install]
WantedBy=default.target
