[Unit]
Description=Lock the screen on resume from suspend
Before=suspend.target

[Service]
User=chase
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/sh /home/chase/.scripts/lock.sh
ExecStart=/usr/bin/gpgconf --reload scdaemon

[Install]
WantedBy=suspend.target
