#
# ~/.config/systemd/user/pipewire-pulse-bt-switch.service
#
[Unit]
Description=Pipewire Pulse Server Auto Switch to Bluetooth

[Service]
ExecStart=/home/chase/.local/bin/btswitch

[Install]
WantedBy=default.target
