[Unit]
Description=User resume actions
After=suspend.target

[Service]
User=%I
Type=simple
ExecStart=/home/chase/.scripts/wake.sh

[Install]
WantedBy=suspend.target
