/.CFUserTextEncoding
/.IntelliJIdea14/
/.IntelliJIdea15/
/.NERDTreeBookmarks
/.Trash/
/.android/
/.archey3.cfg
/.archey-ip
/.arcrc
/.autoenv_authorized
/.aws/
/.bash_history
/.cache/
/.cassandra/
/.certificates/
/.config/chromium/
/.config/dconf/
/.config/Franz/
/.config/gconf/
/.config/google-chrome/
/.config/menus/
/.config/pulse/
/.config/sublime-text-3/Cache/
/.config/sublime-text-3/Index/
/.config/sublime-text-3/Local/
/.config/sublime-text-3/Packages/User/Package\ Control.cache/
/.config/sublime-text-3/Packages/User/Package\ Control.last-run
/.cups/
/.dbshell
/.docker/
/.dropbox/
/.fleetctl/
/.esd_auth
/.gem/
/.github
/.gnupg/
/.gpg*
/.gradle/
/.groovy/
/.hgignore_global
/.homebrew_analytics_user_uuid
/.htoprc
/.idea-build
/.ivy2/
/.lesshst
/.local/
/.m2/
/.mitmproxy/
/.mongorc.js
/.neoman/
/.node-gyp/
/.node_repl_history
/.npm/
/.npmrc
/.nvm/
/.openvpn/
/.oracle_jre_usage/
/.otto.d/
/.packer.d/
/.password-store/
/.pip/
/.pki
/.pow
/.psql_history
/.pylint*/
/.python_history
/.rbenv/
/.rediscli_history
/.rnd
/.s3cfg
/.sbt/
/.sh_history
/.skipbuddy
/.spinnaker/
/.sqlite*
/.ssh/
/.subversion/
/.terraform.d/
/.tox/
/.v8*
/.vagrant.d/
/.vim/.netrwhist
/.viminfo
/.yubioath/
/.Xauthority
/.xsession-*
/.zcomp*
/.zsh-update
/.zsh_history
/.zhistory
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox*/
/Google\ Drive/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/
/VirtualBox*/
/bin/
/git/
/go/
/oss/
/tmp/
/venv/
/zemind/
.F5Networks/
/.dmrc
/.gnome/
/.icons/
/.oh-my-zsh-2/
/.wget-hsts
/.z
/.z.RTuoV1
/.zlogin
/.zlogout
/.zoom/
/.zshrc.pre-oh-my-zsh
/Screenshots/
