[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[user]
    email = chase@sillevis.net
    name = Chase Sillevis
    signingKey = 8EB884FD
[push]
    default = simple
[color]
    ui = auto
[commit]
    gpgSign = true
[tag]
    gpgSign = true
[gpg]
    program = gpg2
[log]
    decorate = true
    abbrevCommit = true
[format]
    pretty = %Cred%h%Creset - %C(bold blue)%G? %aN%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)
[github]
    user = deviavir
[http "https://gopkg.in"]
	followRedirects = true
[core]
	excludesfile = /home/chase/.gitignore_global
[branch "master"]
	mergeoptions = --ff-only
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
	cachetextconv = false
[diff "ansible-vault"]
	textconv = ansible-vault view
	cachetextconv = false
[http "https://gl.blockstream.io/"]
	sslKey = /etc/docker/certs.d/glregistry.blockstream.io/gl.key
	sslCert = /etc/docker/certs.d/glregistry.blockstream.io/gl.cert
	sslVerify = false
[pull]
	rebase = true
