"*":
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "atom-ftp-editor"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "limited"
    themes: [
      "bliss-ui"
      "loved-syntax"
    ]
  editor:
    scrollPastEnd: true
  "exception-reporting":
    userId: "a8c2c5fe-c8f9-4146-9e44-08c4da73a522"
  "file-types":
    pipeline: "source.groovy"
  linter: {}
  "linter-eslint":
    fixOnSave: false
    globalNodePath: "/home/chase/.nvm/versions/node/v10.3.0"
    useGlobalEslint: true
  "linter-phpmd":
    autoExecutableSearch: false
    executablePath: "/home/chase/.config/composer/vendor/bin/phpmd"
  "linter-puppet-lint":
    executablePath: "/home/chase/.gem/ruby/2.5.0/bin/puppet-lint"
    oldVersion: false
  "linter-python":
    executablePath: "/home/chase/.local/bin/pylama"
    ignoreCodes: "C0411,W0105,C0111"
    optionsFile: "/home/chase/.pylama.ini"
    withPep8: true
    withPyflakes: true
    withPylint: true
  "linter-scss-lint":
    executablePath: "/home/chase/.gem/ruby/2.5.0/bin/scss-lint"
  "linter-terraform-syntax":
    useTerraformFormat: true
  "linter-travis-lint":
    travisExecutablePath: "/home/chase/.gem/ruby/2.5.0/bin/travis"
  "linter-ui-default":
    hidePanelWhenEmpty: true
    panelHeight: 80.7589340209961
    showPanel: true
  minimap:
    plugins:
      linter: true
      linterDecorationsZIndex: 0
  "minimap-linter":
    markerType: "gutter"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
