"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "atom-material-ui":
    colors:
      abaseColor: "#12435a"
      accentColor: "#7d2e09"
      genAccent: true
      predefinedColor: "Blue Grey"
    fonts:
      fontSize: 18
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-python":
    useKite: false
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "atom-ftp-editor"
      "go-plus"
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 12
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "a8c2c5fe-c8f9-4146-9e44-08c4da73a522"
  "file-types":
    "^Dockerfile\\..*$": "source.dockerfile"
    pipeline: "source.groovy"
  "go-plus":
    format:
      tool: "gofmt"
  linter: {}
  "linter-eslint":
    global:
      globalNodePath: "/usr"
      useGlobalEslint: true
  "linter-phpmd":
    autoExecutableSearch: false
    executablePath: "/home/chase/vendor/bin/phpmd"
  "linter-puppet-lint":
    executablePath: "/home/chase/.gem/ruby/2.5.0/bin/puppet-lint"
    oldVersion: false
  "linter-python":
    executablePath: "/home/chase/.local/bin/pylama"
    ignoreCodes: "C0411,W0105,C0111"
    optionsFile: "/home/chase/.pylama.ini"
    withPep8: true
    withPyflakes: true
    withPylint: true
  "linter-scss-lint":
    executablePath: "/home/chase/.gem/ruby/2.5.0/bin/scss-lint"
  "linter-terraform-syntax":
    useTerraformFormat: true
  "linter-travis-lint":
    travisExecutablePath: "/home/chase/.gem/ruby/2.5.0/bin/travis"
  "linter-ui-default":
    hidePanelWhenEmpty: true
    showPanel: true
  minimap:
    plugins:
      linter: true
      linterDecorationsZIndex: 0
  "minimap-linter":
    markerTypeError: "gutter"
    markerTypeInfo: "gutter"
    markerTypeWarning: "gutter"
  "terraform-fmt":
    binPath: "/usr/bin/terraform"
  "tree-view": {}
  welcome:
    showOnStartup: false
