'.platform-win32, .platform-linux':
  'f3': 'go-to-line:toggle'
  'shift-f3': 'styleguide:show'
'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-g': 'find-and-replace:find-next'
  'ctrl-shift-g': 'find-and-replace:find-previous'
